NEXT_TELEMETRY_DISABLED=1

# Wallet Connect Project Id
NEXT_PUBLIC_WC_PROJECT_ID=
# Alchemy API
NEXT_PUBLIC_ALCHEMY_ID=

# Access Token Address on Arbitrum Sepolia
NEXT_PUBLIC_ARB_SEP_ACTK_ADDRESS= 

# Supabase APIs
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# pinata api and gateway
NEXT_PUBLIC_PINATA_GATEWAY=
NEXT_PUBLIC_PINATA_JWT=